html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: url("/images/Night_sky.jpg") no-repeat center center fixed;
  background-size: cover;
}

.app-container {
  height: 100%;
  width: 100%;
}
