.mainEvents {
  width: 80%;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainEvents h1 {
  color: white;
  margin: 2.5em auto 1.5em auto;
}
.mainEvents p {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.react-calendar {
  margin-left: 3em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.point {
  background-color: yellow;
  border-radius: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin: 5px 2px 0 0;
  display: block;
}

.dotted {
  position: relative;
}

.dotted::after {
  background-color: yellow;
  border-radius: 50%;
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  bottom: 2px;
  left: calc(50% - 2px);
}

.showdiv {
  display: block;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px;
  backdrop-filter: blur(1px);
  font-size: 16px;
  line-height: 1.6;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  height: auto;
}

#wrapper {
  height: 8em;
}

.hide {
  display: none;
  visibility: hidden;
}
