.app-container.container-bg {
  position: relative;
  width: 100%;
  background-image: url("/images/Navette.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.app-container.container-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(5, 5, 5, 0.4);
  z-index: -1;
}

.planetinfo-page {
  display: flex;

  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 10em;
}
.planet-description {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.image-container {
  position: absolute;
  top: -5%;
  left: 50%;
  width: 10em;
  height: 10em;
  z-index: 1;
  @media screen and (min-width: 768px) {
    top: 15%;
    left: 30%;
    width: 35em;
    height: 35em;
  }
}

.image-container img {
  object-fit: cover;
  object-position: center;
  width: 15em;
  height: 15em;
  @media screen and (min-width: 768px) {
    width: 35em;
    height: 35em;
  }
}

.description-box {
  width: 80%;
  color: white;
  margin: 1em;
  background: rgba(226, 185, 164, 0.1);
  border-radius: .8em;
  backdrop-filter: blur(.5em);
  -webkit-backdrop-filter: blur(.5em);
  line-height: 1.6;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  height: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 3em;
  margin-bottom: 2em;
  @media screen and (min-width: 768px) {
    justify-items: center;
    width: 60%;
  }
}

.description-box p {
  font-size: 1em;
  @media screen and (min-width: 768px) {
    width: 50%;
    transform: translateX(45%);
    font-size: 1.2em;
  }
}

.description-box h2 {
  width: fit-content;
}

.planet-info-content {
  font-size: .9em;
  @media screen and (min-width: 768px) {
    font-size: 1em;
  }
}
.planet-info-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5em;
  z-index: 2;
}

.planet-info-border {
  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 7em;
    margin-bottom: 5em;
    padding: 1em;
  }
}
.planet-info-border::before {
  content: "";
  width: 100%;
  position: absolute;
  inset: 0;
  border: 0.12em solid white;
  z-index: 1;
  -webkit-mask: linear-gradient(
    45deg,
    transparent 20%,
    black 70%,
    black 70%,
    transparent 20%
  );
  mask: linear-gradient(
    45deg,
    transparent 20%,
    black 70%,
    black 70%,
    transparent 20%
  );
}
